/* CSS declarations go here */
html {
	height: 100%;
}

body {
	background: #f7f7f9;
	width: 100%;
	height: 100%;
}
.cuerpo {
	background: #fd5a1e;

}

.logo {
	padding-top: 2%;
	margin-bottom: 5%;
}

.logo-img {
	height: 375px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: #f7f7f9;
	color: #fd5a1e;
	font-weight: bold;
}

a {
	color: #fd5a1e;
}

a:hover, a:focus {
	color: #fd5a1e;
}
.matchForm {
	background: #f7f7f9;
	border: 1px solid #fd5a1e;
	border-radius: 25px;
	margin-bottom: 3%;
}

.group-list {
    columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
    list-style-type: none;
}

.mForm1 {
	margin-bottom: 15px;
}

.mForm2 {
	margin-bottom: 15px;
}

.player-row {
	padding: 10px 0;
	margin: 5px 0;
}

.glyphicon {
	color: #fd5a1e;
}

.matches {
	background: #f7f7f9;
	border: 1px solid #fd5a1e;
	border-radius: 25px;
	margin-bottom: 3%;
}

.page-header {
	border-bottom: 2px solid #fd5a1e;
}

.progress {
	margin-bottom: 0;
	background-color: #dfdfdf;
}

.progress-bar {
	background-color: #fd5a1e;
}

.outs p {
	font-weight: bold;
}

.match {
	margin-bottom: 3%;
}

.match-header {
	background: #fd5a1e;
	height: 20%;
	color: #fff;
	border-radius: 10px 10px 0 0;
}

.match-header h3 {
	padding-top: 5px;
}

.match-info {
	background: #dfdfdf;
	height: 80%;
	border-radius: 0 0 10px 10px;
	overflow: auto;
}

.match-info-on {
	background: #dfdfdf;
	height: 80%;
	border-radius: 0 0 10px 10px;
	overflow: auto;
}

.table > thead > tr > th {
	border-bottom: 2px solid #fd5a1e;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #fd5a1e;
}

.changes .btn {
	margin: 5px;
	background-color: #fd5a1e;
	border-color: #fd5a1e;
	float: right;
}a