/* CSS declarations go here */
body {
	background: #f0f0f0;
}
.cuerpo {
	background: #fd5a1e;

}

.navbar-default {
	background-color: #f0f0f0;
	border-color: #ccc;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default .navbar-brand {
	color: #000;
}

.navbar {
	border-radius: 0;
	color: #000;
}

.table > thead > tr > th {
	border-bottom: 2px solid #fd5a1e;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #fd5a1e;
}

.match {
	height: 200px;
	margin-bottom: 3%;
}

.match-header {
	background: #fd5a1e;
	height: 20%;
	color: #fff;
}
.match-header h3 {
	padding-top: 5px;
}

.match-info {
	background: #dfdfdf;
	height: 80%;
}

a {
	color: #000;
	padding-right: 5%;
}