<template name="matchSettings">	
	<div class="page-header">
		<h2><small>Marcardor Partido</small></h2>
	</div>
	<form class="score-settings form-inline text-center">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Carreras Anotadas</span>
				<input type="number" min="0" class="form-control" name="runs" value="{{scoreActual}}" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Outs</span>
				<input type="number" min="0" max="3" class="form-control" name="outs" value="{{outs}}" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="form-group">
			<div class="btn-group" role="group">
				{{#unless ended }}
					<button type="submit" class="btn btn-default save-game">Guardar</button>
					<button type="button" class="btn btn-default new-half">Nueva Mitad</button>
					<button type="button" class="btn btn-default end-game">Terminar Partido</button>
				{{else}}
					<button type="submit" class="btn btn-default save-game" disabled="disabled">Guardar</button>
					<button type="button" class="btn btn-default new-half" disabled="disabled">Nueva Mitad</button>
					<button type="button" class="btn btn-default end-game" disabled="disabled">Terminar Partido</button>
				{{/unless}}
			</div>
		</div>
	</form>
</template>