<template name="newMatch">
	<div class="page-header">
		<h2><small>Nuevo Partido</small></h2>
	</div>

	<form class="new-match form-inline">
		<div class="text-center">
			<div id="helpBlock1" class="alert alert-danger hidden" role="alert">
				<span class="help-block">El nombre del equipo no puede quedar en blanco.</span>
			</div>
			<div id="helpBlock2" class="alert alert-danger hidden" role="alert">
				<span class="help-block">Seleccione si el equipo contrario es Casa o Visita.</span>
			</div>
			<div id="helpBlock3" class="alert alert-danger hidden" role="alert">
				<span class="help-block">La lista de jugadores esta vacia.</span>
			</div>
			<div class="form-group" id="other-team">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Equipo Contrario</span>
					<input type="text" class="form-control in-actual"  name="otherTeam" aria-describedby="basic-addon1">
					
				</div>
			</div>
			<div class="form-group" id="home-visit">
				<div class="input-group">
					<label class="radio-inline"><input type="radio" name="homeVisit" value="home" >Casa</label>
					<label class="radio-inline"><input type="radio" name="homeVisit" value="visit">Visita</label>
				</div>
			</div>
			<div class="form-group">
				{{#if ended}}
					<button type="submit" class="btn btn-default">Comenzar</button>
				{{else}}
					<button type="submit" class="btn btn-default" disabled="disabled">Comenzar</button>
				{{/if}}
			</div>
		</div>
		{{#if ended}}
			<div class="container-fluid">
				<div class="page-header">
					<h3><small>Lista de jugadores de San Francisco</small></h3>
				</div>
				<div id="helpPl" class="alert alert-danger hidden" role="alert">
					<span class="help-block">Debe de escoger un jugador.</span>
				</div>
				<div id="helpPos" class="alert alert-danger hidden" role="alert">
					<span class="help-block">Seleccione una de las opciones para la posición.</span>
				</div>
				<div class="row player-row">
					<div class="input-group col-md-2" id="fPB">
						<div class="input-group-addon">P/B.</div>
						<input name="pb" type="number" min="1" max="12" value="1" class="form-control">
					</div>	
					<div class="input-group">
						<select class="selectpicker" id="player-info">
							<option selected disabled>Escoja el jugador</option>
							{{#each players}}
								<option value="{{name}}"> ({{num}}) {{name}}</option>
							{{/each}}
						</select>
					</div>
					<div class="input-group">
						<select class="selectpicker" id="pos-info">
							<option selected disabled>Escoja la posición</option>
							<option value="1">1 - Lanzador</option>
							<option value="2">2 - Receptor</option>
							<option value="3">3 - Primera Base</option>
							<option value="4">4 - Segunda Base</option>
							<option value="5">5 - Tercera Base</option>
							<option value="6">6 - Parador en corto</option>
							<option value="7">7 - Jardinero Izquierdo</option>
							<option value="8">8 - Jardinero Central Izquiero</option>
							<option value="9">9 - Jardinero Central Derecho</option>
							<option value="10">10 - Jardinero Derecho</option>
							<option value="BE">BE - Bateador Extra</option>
							<option value="BD">BD - Bateador Designado</option>
							<option value="SB">Substituto</option>
						</select>
					</div>
					<div class="input-group col-md-2">
						<input class="btn btn-default add-box" type="button" value="Agregar">
					</div>
				</div>
			</div>
		{{/if}}
	</form>
</template>