<template name="table">
	<div class="table-league">
		<div class="text-center">
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-table-league">
				Ver Tabla General
			</button>
		</div>		
		<div class="modal fade" id="modal-table-league" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="myModalLabel">Liga Costarricense de Béisbol Máster</h4>
					</div>
					<div class="modal-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Pos</th>
									<th>Equipos</th>
									<th>PJ</th>
									<th>PG</th>
									<th>PP</th>
									<th>CA</th>
									<th>CR</th>
									<th>Dif</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>#1</th>
									<td>Pinoleros</td>
									<td>12</td>
									<td>10</td>
									<td>2</td>
									<td>102</td>
									<td>73</td>
									<td>29</td>
								</tr>
								<tr>
									<th>#2</th>
									<td>Veteranos</td>
									<td>12</td>
									<td>9</td>
									<td>3</td>
									<td>124</td>
									<td>79</td>
									<td>45</td>
								</tr>
								<tr>
									<th>#3</th>
									<td>San Francisco</td>
									<td>12</td>
									<td>6</td>
									<td>6</td>
									<td>132</td>
									<td>113</td>
									<td>19</td>
								</tr>
								<tr>
									<th>#4</th>
									<td>Astros</td>
									<td>12</td>
									<td>6</td>
									<td>6</td>
									<td>113</td>
									<td>108</td>
									<td>5</td>
								</tr>
								<tr>
									<th>#5</th>
									<td>Atleticos</td>
									<td>12</td>
									<td>6</td>
									<td>6</td>
									<td>119</td>
									<td>124</td>
									<td>-5</td>
								</tr>
								<tr>
									<th>#6</th>
									<td>Aguilas</td>
									<td>12</td>
									<td>4</td>
									<td>8</td>
									<td>97</td>
									<td>137</td>
									<td>-40</td>
								</tr>
								<tr>
									<th>#7</th>
									<td>Marlins</td>
									<td>12</td>
									<td>1</td>
									<td>11</td>
									<td>104</td>
									<td>158</td>
									<td>-54</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>